<p id="notice"><%= notice %></p>

<p>
  <strong>Host url string:</strong>
  <%= @host.host_url_string %>
</p>

<p>
  Crawl started at: <%= @host.crawl_started_at.value || 'no active crawler'%>
</p>

<p>
  Crawls since started: <%= @host.crawls_since_started.value%>
</p>

<p>
  Pages to fetch: <%= @host.urls_to_fetch.value %>
</p>

<%= link_to 'Crawl', host_path(@host, crawl: true) %>

<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>
