<p id="notice"><%= notice %></p>

<section class="section">
  <div class="level">
    <div class="level-left">
      <h1 class="title">Recent Pages</h1>
    </div>
    <div class="level-right">
      <%= link_to 'New Page', new_page_path, class: "button is-primary" %>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Url string</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @pages.each do |page| %>
        <tr>
          <td><%= page.url_string %></td>
          <td><%= link_to 'Show', page %></td>
          <td><%= link_to 'Fetch', page_path(page, fetch: true)%></td>
          <td><%= link_to 'Index', page_path(page, index: true)%></td>
          <td><%= link_to 'Destroy', page, method: :delete, class: 'delete' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

