<p id="notice"><%= notice %></p>

<p>
  <strong>Url string:</strong>
  <%= @page.url_string %>
</p>

<%= link_to 'Index', page_path(@page, crawl: true) %>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
