<!DOCTYPE html>
<html>
  <head>
    <title>DexRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Queries', queries_path, class: "button is-light" %>
    <%= link_to 'Hosts', index_hosts_path, class: "button is-light" %>
    <%= link_to 'Pages', index_pages_path, class: "button is-light" %>

    <%= yield %>
  </body>
</html>
